*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



header {
    display: flex;
    justify-content: space-between;
    background-image: url("images/1000_F_317498725_ZjMx0F1o2R3qSQFUv2sPuUCNLCvwk7MA.jpg");
    height: 80px;
}

footer {
    display: flex;
    background-color: pink;
    height: 150px;
}

.menu {
    padding-top: 30px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.titlebox {
    justify-items: center;
    padding-left: 15%;
    padding-top: 5px;
}

.hamburgermenu {
    padding-right: 20px;
    padding-top: 50px;
    height:40px
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

a:hover {
    font-style: bold;
    color: chartreuse;
}

h1 {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(254, 254, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
}

.img1 {
    height: 200px;
    width: 200px;
}

body{
    background-image: url("images/closeup-concrete-wall-texture-background_1017-24490.jpg");
    height: 800px;
}

.container {
    margin: 10px;
    border: solid black 3px;
    padding: 60px;
    display: flex;
    justify-content: space-evenly;
}

.description {
    border: solid black 3px;
    height: 200px;
    width: 800px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image {
    border: solid black 3px;
    height: 200px;
    width: 200px;
    text-align: center;
}
